<form [formGroup]= "form" (ngSubmit)="login()">
<div *ngIf="form.errors" class="alert alert-danger">password is invalid.</div>
<div formGroupName="account"> 

    <!-- OLD PASSWORD -->
<div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input 
            formControlName= "oldPassword"
            id="oldPassword" 
            type="text" 
            class="form-control">
</div>

    <!-- NEW PASSWORD -->
<div class="form-group">
    <label for="newPassword">New Password</label>
    <input 
            formControlName= "newPassword"
            id="newPassword" 
            type="text" 
            class="form-control">
    <div *ngIf="newPassword!.pending" >Checking for uniqueness...</div>
    <div *ngIf="newPassword?.touched && newPassword?.invalid" class= "alert alert-danger">New Password is required.</div>
    <div *ngIf="newPassword!.errors?.minlength">New Password should be minimum {{ newPassword!.errors?.minlength.requiredLength }}.</div>
    <div *ngIf="newPassword!.errors?.cannotContainSpace">New Password cannot contain space.</div>
    <!-- <div *ngIf="newPassword!.errors?.shouldBeUnique">New Password should be unique.</div> -->
</div>

    <!-- CONFIRM NEW PASSWORD -->
<div class="form-group">
    <label for="confirmNewPassword">Confirm New Password</label>
    <input 
            formControlName= "confirmNewPassword"
            id="confirmNewPassword" 
            type="text" 
            class="form-control">
    <div *ngIf="newPassword; else elseBlock"></div>
    <ng-template #elseBlock>New Password incorrect.</ng-template>
    <!-- <div *ngIf="confirmNewPassword!.errors?.shouldMatchTheOldPassword">New Password should be unique.</div> -->
</div>
  
    <button class="btn btn-primary" type="submit"
    (click)=comparePasswords()>
    Submit</button>